# Data Science Tools and Ecosystem:

### In this Notebook, Data Science Tools and Ecosystem are summarized

#### Some of the popular languages are:
1. Python
2. R
3. Scala
4. SQl

#### Some of commonly used libraries used by Data Scientist:
1. Numpy
2. Pandas
3. Matplotlib

#### Data Science tools:
1. Apache Spark
2. Jupyter Notebook
3. Jupyter Lab
4. VS Code

### Below are few examples of evaluating arithmetic expression in Python

In [1]:
#Executing example of Arithmetic Expression
(3*4)+5

17

In [2]:
#Converting 200 min into hours
200/60

3.3333333333333335

#### Objectives:
#### Langauges:
1. Python
2. R
3. Scala 
4. SQL